<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anycall.parent.mybatis.dao.ServiceCommentOrderMapper">
    <select id="getType" resultType="com.anycall.parent.mybatis.bean.ServiceCommentOrderType">
        SELECT
            type,
            typeInfo
        FROM
	        serviceCommentOrderType
    </select>


</mapper>